aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
discord.py==1.5.0
distlib==0.3.1
docutils==0.16
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==1.11.1
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.1
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
MarkupSafe==1.1.1
multidict==4.7.6
pygame==1.9.6
Pygments==2.7.1
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.5
pyshorteners==1.0.1
python-dotenv==0.14.0
pywin32==228
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.0.33
Werkzeug==1.0.1
yarl==1.6.0
zipp==3.3.0
